:root{
    --azul: #00669F;
    --azulOscuro: #001D2D;
    --blanco: #ffffff;
    --gris: #F3F3F3;
    --grisBotonReset: #888888;
    --grisLetra: #333333;
    --grisTituloFormularios: #333333;
    --morado: #2C0187;
    --negro: #000000;
    --rojo: #CC2424;
    --verde: #1CD1B0;
}